language: php

sudo: false

php:
    - 7.0
    - 7.1
    - 7.2
    - nightly

matrix:
    allow_failures:
        - php: nightly

cache:
    directories:
        - vendor

before_script:
    - phpenv config-rm xdebug.ini || true
    - composer install --prefer-dist --classmap-authoritative --ignore-platform-reqs

script:
    - composer run test